* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

//  color section
$primary-color :#447d02;
$secondary-color : #f9d21e;
$bg-banner-color : #dcefc5;

.btn {
  transition: 0.6s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn:hover {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: #000 !important;
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: unset;
}

// navbar==========
.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform .3s;
  background-color: #fff !important;
}

#navbar_top {
  background-color: #fff;
  padding: 0 0 !important;
  height: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  // border-top: 2px solid $primary-color;
}

.navbar-cover .nav-link {
  color: rgb(162, 162, 162) !important;
  font-size: 13px;
  font-weight: 600;
}

.navbar-cover .n:hover {
  color: #000 !important;
  background-color: $bg-banner-color;
}

.navbar-cover .n {
  margin-right: 20px;
}

.navbar-brand img {
  width: 60%;
}

.navbar-cover .icons {
  gap: 2px;
  cursor: pointer;
  display: flex;
  padding: 4px;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
}

.navbar-cover .icons-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;

}

.navbar-cover .btn {
  margin-top: 10px;
  font-size: 14px;
}

// START HEROO WRAPPER==========
#hero-wrapper {
  background-color: $bg-banner-color;
  width: 100%;
  padding-top: 130px;
}

#hero-wrapper .hero-title {
  padding-top: 10px;
}

#hero-wrapper .hero-title h1 {
  font-size: 60px;
}

#hero-wrapper .hero-title span {
  color: $primary-color;
}

#hero-wrapper .hero-img {
  padding-top: 10px;
  text-align: center;
}

#hero-wrapper .btn {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: 600;
  background-color: $primary-color;
  border-color: $primary-color;
}

#hero-wrapper .btn:hover {
  background-color: #666;
}

// event wrapper============
#event-wrapper {
  background-color: rgb(59, 59, 59);
  padding-top: 100px;
  padding-bottom: 100px;
}

#event-wrapper .event-title {
  padding-top: 50px;
}

#event-wrapper span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

#event-wrapper h2 {
  color: #fff;
  padding-top: 15px;
}

#event-wrapper p {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

#event-wrapper .event-btn .btn {
  background-color: $primary-color;
  border-color: $primary-color;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

#event-wrapper .video-cover {
  text-align: center;
  position: relative;
}

#event-wrapper .video-img {
  z-index: -999;

}

#event-wrapper .video-cover .btn {
  padding: 0px;
  z-index: 99;
  display: inline;
  position: relative;
  background-color: transparent;
  border: unset;
  box-shadow: unset;
}

#event-wrapper .video-cover .btn:hover {
  background-color: unset !important;
}

#event-wrapper .video-cover i {
  color: #fff;
  font-size: 40px;
  padding-top: 5px;
}

#event-wrapper .video__icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 110px;
  left: 220px;
}

#event-wrapper .video__icon .circle--outer {
  border: 1px solid #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  position: relative;
  opacity: .8;
  -webkit-animation: circle 2s ease-in-out infinite;
  animation: circle 2s ease-in-out infinite;
}

#event-wrapper .video__icon .circle--inner {
  background: rgba(255, 255, 255, 0.061);
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  opacity: .8;
}

#event-wrapper .video__icon .circle--inner:after {
  content: '';
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  top: -4px;
  left: -4px;
  position: absolute;
  opacity: .8;
  -webkit-animation: circle 2s ease-in-out .2s infinite;
  animation: circle 2s ease-in-out .2s infinite;
}

#event-wrapper .video__icon p {
  color: #000;
  text-align: center;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes circle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

// EXCHANGE WRAPPER============
#exchange-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;

}

#exchange-wrapper h2 {
  text-align: center;
  color: #666;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 50px;
}

#exchange-wrapper img {
  width: 80%;
}

#exchange-wrapper .box-cover {
  text-align: center;
}

#exchange-wrapper .box-cover h4 {
  padding-top: 20px;
}

#exchange-wrapper .box-cover p {
  line-height: 30px;
  font-size: 20px;
  padding-top: 10px;
}

// Counter wrapper=========
#counter-wrapper {
  position: relative;

}
#counter-wrapper h1 {
  font-size: 60px;
}

#counter-wrapper h3 {
  font-size: 20px;
}
#counter-wrapper img {
  width: 100%;
  height: 300px;
  background-attachment: fixed;
}
#counter-wrapper .image-over-lay {
  background-color: rgba(0, 0, 0, 0.574);
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#counter-wrapper .col-md-4 {
  text-align: center;
  padding-bottom: 30px;
  border-right: 1px dashed #fff;
  color: #fff;
  padding-top: 30px;
  margin-top: 60px;
}
#counter-wrapper .col-md-4:last-child {
  border-right: 0px solid black;
}
#counter-wrapper .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
#counter-wrapper i {
  font-size: 20px !important;
}
@media (max-width: 991px) {
  #counter-wrapper .col-md-4 {
    border-right: 0px dashed black;
    border-bottom: 1px dashed black;
    width: 50%;
    margin: auto auto;
  }

  #counter-wrapper .col-md-4:last-child {
    border-bottom: 0px dashed black;
  }
}

// TRADE ECON MARKETS==========
#trade-markets-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

#trade-markets-wrapper span {
  font-weight: 600;
  color: #666;
}

#trade-markets-wrapper h2 {
  font-size: 35px;
  padding-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#trade-markets-wrapper .trade-btn {
  padding-top: 15px;
}

#trade-markets-wrapper .trade-btn .btn {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

#trade-markets-wrapper .trade-btn .btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

#trade-markets-wrapper .trade-btn .btn-outline-primary {
  border-color: $primary-color;
  color: $primary-color;
}

#trade-markets-wrapper .btn:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

#trade-markets-wrapper .trade-details {
  padding-top: 50px;
}

#trade-markets-wrapper .trade-details .btn {
  margin-top: 15px;
  border-color: #666;
  color: #666;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

#trade-markets-wrapper .trade-details .btn:hover {
  color: #fff;
}

#trade-markets-wrapper .trade-btn-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;

}


// for-cast-wrapper======
#for-cast-wrapper {
  background-color: $bg-banner-color;
  padding-top: 100px;
  padding-bottom: 60px;
  width: 100%;
  height: auto;
}

#for-cast-wrapper span {
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
}

#for-cast-wrapper .fore-cast-cover {
  padding-top: 40px;
}

#for-cast-wrapper h2 {
  padding-top: 20px;
}

#for-cast-wrapper p {
  line-height: 30px;
}

#for-cast-wrapper .btn {
  background-color: $primary-color;
  border-color: $primary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;
}

#for-cast-wrapper .btn:hover {
  background-color: #666;
  border-color: #666;
}

// our-partners=============

#our-partners {
  background-color: #3b3b3b;
  padding-top: 70px;
  padding-bottom: 70px;
}

#our-partners .logo-cover {
  background-color: #fff;
}

// MARKET INSIGHTS========
#market-insights {
  background-color: $bg-banner-color;
  padding-top: 100px;
  padding-bottom: 0px;
}

#market-insights span {
  font-weight: 600;
  text-transform: uppercase;
  color: #666;
}

#market-insights h3 {
  padding-top: 23px;
}

#market-insights h2 {
  padding-top: 23px;
}

#market-insights .btn {
  width: 100%;
  background-color: $primary-color;
  border-color: $primary-color;
}

#market-insights .btn:hover {
  background-color: #666;
  border-color: #666;
}

#market-insights .form-control:focus {
  box-shadow: unset;
}

// footer-wrapper========
#footer-wrapper {
  padding-top: 70px;
  padding-bottom: 40px;
}

#footer-wrapper li {
  list-style: none;
  color: #666;
  line-height: 35px;
}

#footer-wrapper a {
  text-decoration: none;
  color: #666;
}

#footer-wrapper .social {
  padding-top: 30px;
}

#footer-wrapper .social i {
  padding-left: 5px;
  color: #666;
}

#footer-wrapper h5 {
  padding-bottom: 10px;
}

#footer-wrapper .hr-tag {
  margin-top: 50px;
}

#footer-wrapper .power-by {
  padding-top: 20px;
}

#footer-wrapper .power-by span {
  font-size: 13px;
}

// STRAT SIGN IN===============================
#sign-in-wrapper {
  background-color: $bg-banner-color;
  padding-top: 100px;
  height: auto;
}

#sign-in-wrapper .form-cover {
  padding-left: 25%;
  padding-right: 25%;
}

#sign-in-wrapper .forget-root {
  fill: currentColor;
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
 
}

#sign-in-wrapper span {
  font-weight: 600;
}

#sign-in-wrapper .login-btn .btn {
  width: 100%;
  font-size: 18px;
}

#sign-in-wrapper .login-btn .btn:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

#sign-in-wrapper .login-btn {
  padding-top: 15px;
}

#sign-in-wrapper .form-control:focus {
  box-shadow: unset;
}

#sign-in-wrapper a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

#sign-in-wrapper a:hover {
  color: #666;
}

#sign-in-wrapper .create-btn .btn {
  background-color: unset;
  border: unset;
  box-shadow: unset;
  color: rgb(36, 36, 36);
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
}

#sign-in-wrapper .create-btn .btn:hover {
  background-color: #a5a5a5;
}

#sign-in-wrapper .field-icon {
  position: absolute;
  top: 22px;
  right: 10px
}

#sign-in-wrapper .fa-eye {
  color: rgb(146, 146, 146);
}

// START SIGN UP===================
#verifiy-your-number .form-control {
  box-shadow: unset;
}

#sign-in-wrapper .sign-up-cover h2 {
  font-size: 20px;
}

#sign-in-wrapper .typewrite {
  color: $primary-color;
  font-size: 27px;
}

#sign-in-wrapper .sign-up-cover .btn {
  width: 100%;
  padding: 10px 10px;
}

// #sign-in-wrapper .sign-up-cover .form-control {
//   box-shadow: unset;
//   height: 45px;
// }

// #sign-in-wrapper .sign-up-cover label {
//   line-height: 10px;
//   font-weight: 600;
// }

/*form styles*/
#msform {
  width: 100%;

  position: relative;
}

#msform label {
  text-align: left;
}

#msform fieldset {
  background: transparent;
  border: 0 none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {

  // border-radius: 3px;
  margin-bottom: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #666;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 40px 0px 0px 0px;

}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: $primary-color;
}

// FORM STEP=====
.mult-page-form {
  background-color: $bg-banner-color;
  padding-bottom: 200px;
}

.mult-page-form .form-select {
  box-shadow: unset;
  border-radius: 0;
  height: 45px;
  border-right: unset;
}

.mult-page-form .form-control {
  box-shadow: unset;
  border-radius: 0;
  height: 45px;

}

.mult-page-form label {
  font-weight: 600;
  line-height: 10px;
}

// START EVENTS============================
// START EVENTS============================
.navbar-cover .evt-seach .btn-outline-secondary {
  background-color: #f1f1f1;
  height: 40px;
  box-shadow: unset;
  border: unset;

}
.navbar-cover .evt-seach .form-control {
  background-color: #f1f1f1;
  height: 40px;
  box-shadow: unset;
  margin-top: 10px;
  width: 300px;
  border-color: #f1f1f1;
}
.navbar-cover .evt-seach .form-control:focus {
  border-color: #f1f1f1;
}
#events-wrapper {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
#events-wrapper .title {
  padding-right: 40%;
  padding-top: 5px;
}
#events-wrapper .display-event {
  padding-top: 20px;
}
#events-wrapper .display-event li {
  list-style: none;
}
#events-wrapper .display-event ul {
  padding-left: 0px;
}
#navbar_top-event {
  background-color: #fff;
  padding: 0 0 !important;
  height: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
#navbar_top-menu {
  background-color: #fff;
border-bottom: 1px solid #f0f0f0;
  
}
#navbar_top-menu .btn-primary {
  background-color: #e4e4e4;
  color: #666;
  border-color: #e4e4e4;
  box-shadow: unset;
  width: 100%;
  border-radius: 10vw;
  font-size: 14px;
}
#navbar_top-menu .owl-theme .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  top: 0;
  width: 30px;
  background-color: #e4e4e4;
  height: 30px;
  border-radius: 20%;

}
#navbar_top-menu .owl-theme .owl-nav span {
  font-size: 30px;
padding: 0;
line-height: 28px;
}
#navbar_top-menu .owl-theme .owl-nav:hover span {
  color: #000;
}
#navbar_top-menu .owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  top: 0;
  width: 30px;
  background-color: #e4e4e4;
  height: 30px;
  border-radius: 20%;

}
.learn-more {
  text-align: center;
  background-color: $bg-banner-color;
  padding-top: 20px;
  padding-bottom: 8px;
  border-radius: 10px;
border: 1px solid #badd94;
}
.learn-more a {
  text-decoration: none;
  color: #447d02;
}
.learn-more p {
  font-size: 14px;
  font-weight: 600;
}
// event box
.event-box {
  padding-top: 30px;
}
.event-box .box-cover {
  border: 1px solid rgb(240, 240, 240);
  padding: 15px 15px 15px 15px;
  border-radius: 12px;
}
.event-box .text-right {
  float: right;
  color: blue;
  padding-right: 5px;
  font-size: 13px;
}
.event-box .text-number {
  float: right;
  color: $primary-color;
  font-size: 13px;
}
.event-box .timing {
  border-bottom: 1px solid #dcefc5;
  padding-top: 12px;
}
.event-box .btn-secondary {
  background-color: unset;
  box-shadow: unset;
  padding-left: 0;
  color: rgb(167, 166, 166);
  font-weight: 600;
  border: unset;
margin-top: 10px;
}
.event-box .btn-secondary:hover {
  background-color: unset !important;
}
.event-box .icons-top  {
  padding-bottom: 10px;
}
.event-box .icons-top i {
  font-size: 27px;
}
.event-box span {
  font-size: 14px;
  font-weight: 600;
}
.event-box .down {
  margin-top: 10px;
}
.event-box .box-cover:hover {
  border-color: $primary-color;
}
.event-box a {
  text-decoration: none;
  color: #666;
}